<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页-Drea</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/comm.js"></script>
    <!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<!--top begin-->
<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="#">Drea</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/index">首页</a></li>
                <li><a href="/blog">个人博客</a></li>
                <li class="menu"><a href="mypython">python</a>
                    <ul class="sub">
                        {% for i in cat %}
                            <li><a href="/mypython?arg={{ i.category_title }}">{{ i.category_title }}</a></li>
                        {% endfor %}
                    </ul>
                    <span>111</span></li>
                <li><a href="daohang">漫漫长路</a></li>
                <li><a href="news">热文汇点</a></li>
                <li><a href="sercet">福利</a></li>

                <li><a href="about">关于我</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<div class="searchbox">
    <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onFocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onBlur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="searchclose"></div>
</div>
<!--top end-->
<!--block-->
<article>
{% block  body_block %}
{% endblock %}

<!--pagelist-->
<div class="col-12 col-md-6">
    <div class="ajax-loading" style="display: none;">
        <span class="dot1"></span><span class="dot2"></span>
    </div>
    <button data-page="home" data-query="" data-action="ajax_load_posts" data-paged="2"
            data-append="list-home" class="load_btn"
            style="display: block;">共{{ counts }}篇文章,点击加载更多
    </button>
</div>
</article>
<!--pagelist end-->
<footer>
    <div class="box">
        <div class="wxbox">
            <ul>
                <!--<li><img src="/static/images/wxgzh.jpg"><span>微信公众号</span></li>-->
                <li><img src="/static/images/wx.png"><span>我的微信</span></li>
            </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=HHh9cn95b3F1cHVye1xtbTJ-c3E"
                    target="_blank">henchong@qq.com</a></p>
            <p>Copyright © <a href="#" target="_blank"></a> All Rights Reserved. 备案号：<a
                    href="http://www.bootstrapmb.com/" target="_blank">蜀ICP备11002373号-1</a></p>
        </div>
    </div>
    <a href="#">
        <div class="top"></div>
    </a></footer>
</body>
</html>
