{% extends 'base.html' %}
{% block body_block %}
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu"><a href="/mypython"><img src="/static/images/lm03.jpg"></a>
            <h1>小杂</h1>
            <p>工作学习上遇见的随便写写，后端，安全，运维，数据方向。。。</p>
        </div>
        <div class="whitebg bloglist">
            <h2 class="htitle">
          <span class="hnav">
              {% for i in cat %}
                  <a href="/mypython?arg={{ i.category_title }}">{{ i.category_title }}</a>
              {% endfor %}
          </span>全部内容</h2>
            <ul>

                <!--纯文字-->
                <li>
                    <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if
                        来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
                    <p class="bloginfo"><i class="avatar"><img
                            src="/static/images/avatar.jpg"></i><span>杨青青</span><span>2018-10-28</span><span>【<a
                            href="/">原创模板</a>】</span></p>
                    <a href="/" class="viewmore">阅读更多</a></li>
                <li>
                    <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
                    <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if
                        来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
                    <p class="bloginfo"><i class="avatar"><img
                            src="/static/images/avatar.jpg"></i><span>杨青青</span><span>2018-10-28</span><span>【<a
                            href="/">原创模板</a>】</span></p>
                    <a href="/" class="viewmore">阅读更多</a></li>

            </ul>
            <!--pagelist-->

            <!--pagelist end-->
        </div>

        <!--bloglist end-->
    </div>
    <div class="rbox">
        <div class="whitebg paihang">
            <h2 class="htitle">点击排行</h2>
            <section class="topnews imgscale"><a href="/"><img src="images/h1.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a>
            </section>
            <ul>
                <li><i></i><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
                <li><i></i><a href="/">用js+css3来写一个手机栏目导航</a></li>
                <li><i></i><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
                <li><i></i><a href="/">三步实现滚动条触动css动画效果</a></li>
                <li><i></i><a href="/">个人博客，属于我的小世界！</a></li>
                <li><i></i><a href="/">安静地做一个爱设计的女子</a></li>
                <li><i></i><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
                <li><i></i><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
            </ul>
        </div>
        <div class="whitebg tuijian">
            <h2 class="htitle">本栏推荐</h2>
            <section class="topnews imgscale"><a href="/"><img src="images/h2.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a>
            </section>
            <ul>
                <li><a href="/"><i><img src="images/text01.jpg"></i>
                    <p>十条设计原则教你学会如何设计网页布局!</p>
                </a></li>
                <li><a href="/"><i><img src="images/text02.jpg"></i>
                    <p>用js+css3来写一个手机栏目导航</p>
                </a></li>
                <li><a href="/"><i><img src="images/text03.jpg"></i>
                    <p>6条网页设计配色原则,让你秒变配色高手</p>
                </a></li>
                <li><a href="/"><i><img src="images/text04.jpg"></i>
                    <p>三步实现滚动条触动css动画效果</p>
                </a></li>
                <li><a href="/"><i><img src="images/text05.jpg"></i>
                    <p>个人博客，属于我的小世界！</p>
                </a></li>
                <li><a href="/"><i><img src="images/text06.jpg"></i>
                    <p>安静地做一个爱设计的女子</p>
                </a></li>
                <li><a href="/"><i><img src="images/text07.jpg"></i>
                    <p>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</p>
                </a></li>
            </ul>
        </div>
        <div class="ad whitebg imgscale">
            <ul>
                <a href="/"><img src="images/ad.jpg"></a>
            </ul>
        </div>
        <div class="whitebg cloud">
            <h2 class="htitle">标签云</h2>
            <ul>
                <a href="" target="_blank">个人博客模板</a> <a href="" target="_blank">css动画</a> <a href=""
                                                                                              target="_blank">布局</a>
                <a href="" target="_blank">今夕何夕</a> <a href="" target="_blank">SEO</a> <a href=""
                                                                                          target="_blank">女程序员</a>
                <a href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a> <a href=""
                                                                                          target="_blank">网页设计</a>
            </ul>
        </div>
        <div class="whitebg wenzi">
            <h2 class="htitle">猜你喜欢</h2>
            <ul>
                <li><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
                <li><a href="/">用js+css3来写一个手机栏目导航</a></li>
                <li><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
                <li><a href="/">三步实现滚动条触动css动画效果</a></li>
                <li><a href="/">个人博客，属于我的小世界！</a></li>
                <li><a href="/">安静地做一个爱设计的女子</a></li>
                <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
                <li><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
            </ul>
        </div>
        <div class="ad whitebg imgscale">
            <ul>
                <a href="/"><img src="images/ad02.jpg"></a>
            </ul>
        </div>
        <div class="whitebg tongji">
            <h2 class="htitle">站点信息</h2>
            <ul>
                <li><b>建站时间</b>：2018-10-24</li>
                <li><b>网站程序</b>：帝国cms</li>
                <li><b>主题模板</b>：<a href="#" target="_blank">《今夕何夕》</a></li>
                <li><b>文章统计</b>：299条</li>
                <li><b>文章评论</b>：490条</li>
                <li><b>统计数据</b>：<a href="/">百度统计</a></li>
                <li><b>微信公众号</b>：扫描二维码，关注我们</li>
                <img src="images/wxgzh.jpg" class="tongji_gzh">
            </ul>
        </div>
    </div>
{% endblock %}
